<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/users/list" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <i class="bi bi-person-circle font-size-50px"></i>
      <span class="fs-4">Users</span>
    </a>

    <div class="col-md-6 text-end">
      <button type="button" class="btn btn-primary me-3"  (click)="onLogOut()">Log Out</button>
    </div>
  </header>
</div>
